/* =============================

    ICON-FONTS

=============================*/

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/fontello.eot?51289341');
  src: url('fonts/fontello/fontello.eot?51289341#iefix') format('embedded-opentype'),
       url('fonts/fontello/fontello.woff2') format('woff2'),
       url('fonts/fontello/fontello.woff') format('woff'),
       url('fonts/fontello/fontello.ttf?51289341') format('truetype'),
       url('fonts/fontello/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  text-align: center;
}
 
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */

/* =============================

    COLORS

=============================*/

:root {
  --background-color: rgba(245, 245, 245);
  --light-text: rgba(255, 255, 255);
  --dark-text: rgba(49, 48, 74, .9);
  --heading-text: rgba(208, 234, 255, .9);
  --link-color: rgba(231, 173, 174);
  --link-color-hover: rgba(248, 209, 218);
}

/* =============================

    GENERAL STYLES

=============================*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
  
/* Single-direction margin declaration to establish vertical rhythm. */
h1,h2,h3,
ul,ol,
p,
img {
    margin-bottom: 1.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background: var(--background-color);
  font-family: 'Libre Baskerville', serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--dark-text);
}

.locations-section,
.program,
.gifts,
.faq,
.contact {
  width: 95%;
  margin: 1.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}

h1, 
h2 {
  font-family: 'abugetregular', cursive;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--link-color);
  transition: color .2s ease-in-out;
}

a:hover {
  color: var(--link-color-hover);
}
  
/* =============================

    HEADER STYLES

=============================*/

.cover {
  background: linear-gradient(to right bottom, rgba(83, 81, 124, .1), rgb(83, 81, 124, .1)),url('images/cover-bg-img.jpg') no-repeat 48% center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}

@media (min-width: 768px) {
  .cover {
    background: linear-gradient(to right bottom, rgba(83, 81, 124, .1), rgb(83, 81, 124, .1)), url('images/cover-bg-img.jpg') no-repeat center/cover;
  }
}

.hero-text {
  padding: .625rem;
  color: var(--light-text);
  background: rgba(49, 48, 74, .25);
}

.hero-text h1 {
  font-size: 5rem;
  color: var(--link-color-hover);
  margin-bottom: 0; /* To negate the effect of the single-direction margin declaration. */
}

@media (min-width: 768px) {
  .hero-text {
    padding: 1.25rem;
    border-radius: 4px;
    width: 100%;
  }
  .hero-text h1 {
    font-size: 7rem;
  }
}

.tagline {
  font-size: 1.2rem;
  letter-spacing: .18rem;
  animation: moveInLeft 1s ease-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

@media (min-width: 768px) {
  .tagline {
    text-transform: uppercase;
  }
}

.date {
  font-size: 1.1rem;
  letter-spacing: .18rem;
  vertical-align: middle;
  animation: moveInRight 1s ease-out;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

/* ARROW DOWN */
.arrow-down {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 19%;
    opacity: 95%;
    animation: fadeIn 1s ease-out 3s;
    animation-fill-mode: backwards;
}

.arrow-down:hover {
  cursor: pointer;
}

.arrow-down::after{
    content: "";
    width: 35px;
    height: 35px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 5px;
    border-right: 3px solid var(--light-text);
    border-bottom: 3px solid var(--light-text);
    transform: rotate(45deg);
    animation: arrow 2s infinite ease;
}

@keyframes arrow{
    0%, 100% {
      top: 40px;
    }
    50% {
      top: 80px;
    }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* =============================

      LOCATIONS STYLES

=============================*/

.location-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.locations-section a{
  color: var(--dark-text);
}

.locations-section a:hover {
  color: var(--dark-text);
}

.location{
  width: 230px;
  align-self: center;
}

.location-text {
  transition: transform .2s;
  text-align: center;
}

.location-text img {
  height: 7.5rem;
  opacity: 75%;
  filter: saturate(95%);
}

.location-text h3 {
  font-weight: 700;
}

.location-text div {
  font-family: 'Muli', sans-serif;
}

.location-text:hover {
  transform: translateY(-0.5rem) scale(1.03);
}

.location-text::after {
  content: "";
  display: block;
  height: .1rem;
  width: 25vw;
  margin: 1.5rem auto;
  background-color: var(--dark-text);
}

@media (min-width: 768px) {
  .location-container {
    flex-direction: row;
  }
  .location {
    width: 260px;
    padding: 1.5rem;
    margin: .5rem;
  }
  .location-text::after {
    display: none;
  }
}

@media (min-width: 1024px) {
  .location-container {
    flex-direction: row;
  }
  .location {
    width: 260px;
    padding: 1.5rem;
    margin: .5rem 4rem;
  }
  .location-text::after {
    display: none;
  }
}

/* =============================

        PROGRAM STYLES

=============================*/

.program {
  width: 100%;
  text-align: left;
  background: var(--dark-text);
  color: var(--heading-text);
  font-family: 'Muli', sans-serif;
}

.program h2 {
  margin-top: 1rem;
  text-align: center;
}

.program p {
  font-style: italic; 
}

.program ul {
  letter-spacing: .025rem;
}

@media (min-width: 768px) {

  .program-wrapper {
    width: 30vw;
    margin: 0 auto;
  }

}

/* =============================

        GIFTS STYLES

=============================*/

.gifts img {
  height: 7.5rem;
}

.gifts p:last-child {   /* To even out the bottom and top margins of this section. */
  margin-bottom: 0;
}

/* =============================

        FAQ STYLES

=============================*/

.faq {
  background: var(--dark-text);
  color: var(--heading-text);
  width: 100%;
  text-align: center;
}

.faq h2 {
  margin-top: 1rem;
}

.faq p {
  font-family: 'Muli', sans-serif;
  text-align: left;
}

.question-group-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-group::after {
  content: "";
  display: block;
  height: .13rem;
  width: 50vw;
  margin: 1.5rem auto;
  background-color: var(--heading-text);
}

@media (min-width: 768px) {
  .question-group-container {
    flex-direction: row;
  }
  .question-group {
    width: 30%;
    vertical-align: top;
    padding: 1.5rem;
    margin: .5rem;
  }
  .question-group::after {
    display: none;
  }
  .question-group h3 {
    text-align: left;
  }
}

.question {
  font-weight: 700;
  margin-bottom: .5rem;
}

.answer {
  margin-bottom: 1.5rem;
}

/* =============================

        CONTACTS STYLES

=============================*/

.addeventatc {
  background-color: whitesmoke;
}

.addeventatc:hover {
  background-color: var(--link-color);
}

.calendar-text {
  color: var(--dark-text);
}

/* =============================

        FOOTER STYLES

=============================*/

footer {
  height: 15vh;
  width: 100%;
  background-color: var(--dark-text);
  color: var(--light-text);
  font-family: 'Muli', sans-serif;
  font-size: .8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  justify-items: center;
}

footer p {
  margin: 0;
  text-align: center;
  align-self: center;
} 

.social {
  margin-bottom: 0;
  text-align: center;
  align-self: center;
}

footer small {
  line-height: 1.5;
  padding: 0 5px;
}

@media (min-width: 768px) {
  footer {
    height: 10vh;
    font-size: .875rem;
  }
}
